a{
    text-decoration: none;
    color: #ffffff;
}
p{
    margin: 0;
}
a:hover{
    color: #ffffff; 
}
#navbar{
    background: lightgray;
    /* padding: 20px 0 ; */
}
.nav-buttun a{
    background: rgba(252, 148, 38, 1);
    padding: 24.2px 33px ;
    border-radius: 7px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
}
.nav-buttun img{
    padding-right: 7px;
}
.colText{
    align-items: center;
    font-weight: bold;
}
.colText a{
    color: rgba(252, 148, 38, 1);
    
}
.head-text p{
    color: rgba(51, 51, 51, 1);
    /* align-items: center; */
}